<h2>{{title}}</h2>
<div>
  <div id="left-panel">
    <input type="text" placeholder="Søk etter modell" [(ngModel)]="carName">
    <ul>
      <li [ngClass]="{selected: selectedCar.model === car.model, hide: contains(car.model, carName)}" (click)="selectCar(car, i)" *ngFor="let car of cars, let i = index">
        {{car.model}}</li>
    </ul>
  </div>
  <div id="right-panel" >
    <p >Det er {{getNumOfConns()}} kontakter koblet opp mot denne bilen.</p>
    <ul>
      <li *ngFor="let c of selectedCar.conns, let i = index">{{connTypes[c]}} <button class="delete-btn" (click)="removeConnector(i)">Fjern</button></li>
    </ul>
  </div>
</div>
