<header>
  <div id="title">
    <h1>{{title}}</h1>
  </div>
  <nav>
    <button (click)="previousPage()" *ngIf="location.path().length > 0">Tilbake</button>
    <ul>
      <li><a routerLink="/user" routerLinkActive="selected" *ngIf="location.path().length > 0">Users</a></li>
      <li><a routerLink="/car" routerLinkActive="selected" *ngIf="location.path().length > 0">Cars</a></li>
    </ul>
    <button (click)="logout()" *ngIf="location.path().length > 0">Logg ut</button>
  </nav>
</header>
<div id="content">
  <router-outlet></router-outlet>
</div>
