/*
  Color pallet: http://paletton.com/#uid=105050k0Oq127mM0Uok0On50Jm1
*/

body{
  margin: 0;
  background: #CFCBCA;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 5em;
  background: url('ng-app/assets/logo.svg') no-repeat;
  background-color: #C2BDBC;
  background-size: contain;
  padding-left: 5em;

  /*Shadow*/
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21);
}
header h1{
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
nav{
  float: left;
}
nav button{
  float: left;
}
nav ul{
  float: left;
  padding: 0;
  margin: 0;
}
nav ul li{
  float: left;
  padding: 0.5em;
  list-style: none;
}

nav ul li:hover{
  color: lightblue;
}

#content{
  display: table;
  padding: 0.5em;
  background: white;
  width: 80%;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;

  /*Shadow*/
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21);
}
button, input[type=button], input[type=submit]{
  background: #B5ABAA;
  border: none;

  -webkit-box-shadow: none;
  -webkit-transition: box-shadow 1s;
  -moz-box-shadow: none;
  -moz-transition: -moz-box-shadow 1s;
  box-shadow: none;
  transition: box-shadow 1s;
}
button:hover, input[type=button]:hover, input[type=submit]:hover{
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21);
  -webkit-transition: box-shadow 1s;
  -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21);
  -moz-transition: -moz-box-shadow 1s;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21);
  transition: box-shadow 1s;
}
